[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
django = "*"
drf-spectacular = "*"
drf-yasg = "*"
django-rest-swagger = "*"
psycopg2 = "*"
python-dotenv = "*"
django-countries = "*"
django-filter = "*"
redis = "*"
django-admin-relation-links = "*"
gevent = "*"
django-celery-beat = "*"
tzdata = "*"
pytz = "*"
qrcode = "*"
image = "*"
celery = "*"
django-debug-toolbar = {editable = true, git = "https://github.com/django-debug-toolbar/django-debug-toolbar.git"}
django-cors-headers = "*"
pytest = "*"
pytest-django = "*"
pytest-drf = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.11"
